<%# <%= render "layouts/navbar" %> 
<h1> About Us </h1>

<div class="abt">
  <h2>Welcome To Plant-it</h2>
<ul>
   <li>Our App is about Terrace Gardening.</li>
   <li>It is used to learn Terrace Gardening and you can buy the products and equipments used in Terrace Gardening.</li>
   <li>We guide you how to start a Terrace Garden step by step.</li>
   <li>You can post the images of your terrace garden like what you have done.</li>
   <li>You can also add your own blogs about Terrace Gardening.</li>
   <li>Our Motive is to  turn the fear of gardening into the joy of growing for millions of people across the world.</li>
</ul> 
<%= image_tag('about.png',alt: "img", id: "about")%>
  <h3>Gardening adds years to your life, and life to your years.</h3>
  
  
</div>