	
    <%= image_tag('bg.webp',alt: "bg", id: "hombg")%>


	 <div class="widget center">
  
		<div class="blur"></div>
		
		<div class="text center">
		  <p>LET'S KNOW ABOUT</p>
		  <h1> TERRACE GARDENING</h1>
		 <a href="/plants/home"> <button id="ex">Explore</button>
		</div>
	  
	  </div>

 
