/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field {
    border-radius: 10px;
    height: 50px;
    width: 400px;
    margin-top: 10px; 
    margin-left: 300px;  
    background-color: rgb(220, 216, 216); 
 }
 .em_name{
    margin-left: 300px;
 }
 .regform {
    margin-left: 120px;
    margin-top: 30px;
}
label {
    margin-top: 20px;
}
.actions {
    margin-top: 50px;
    margin-left: 300px;
}
.tt{
    margin-left: 300px;
    width: 300px;
}
.ald_hv{
    margin-left: 300px;
    margin-top: 20px;
    width: 300px;
}
.dnt_acc{
    margin-top: 40px;
    margin-left: 300px;
    width: 400px;
}

.bgclr{
   margin-left: 600px;
   margin-top: 100px;
}
.sign {
    border: none;
    background-color: #488F27;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 400px;
    margin-left: 20px;
    position: relative;
    right: 2vh;
    font-weight: 500;

}
.ttl_for{
    margin-left: 300px;
}
.usr_fil{
    margin-left: 300px;
    width: 300px;
}
.msg {
    color: red;
    bottom: 680px;
    position: absolute;
    right: 70px;
}
.do {
    position: absolute;
    bottom: 650px;
}
.chk {
    margin-left: 300px;
    width: 300px;
    position: absolute;
}
.lgclr {
 margin-left: 700px;
 margin-top: 100px;
}
.lgform {
    margin-left: 120px;
    margin-top: 30px;
}
.fgclr {
    margin-left: 600px;
    position: absolute;
    margin-top: 100px;
 }
.fgform {
    margin-left: 100px;
    margin-top: 30px;
}
.sub {
    border: none;
    background-color: #488F27;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 400px;
    position: relative;
    font-weight: 500;
}
.losing{
    margin-left: 300px;
    margin-top: 150px;
}
#plnt_img{
    position: absolute;
    height: 500px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 400PX;
}
.mis {
    color: red;
    margin-right: 20px;
    /* position: relative;
    bottom: 1vh; */
}
#plnt-sig_img{
    position: absolute;
    height: 400px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 400PX;
}
.for_nam{
    margin-left: 300px;
}
#for_img{
    position: absolute;
    height: 300px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 400PX;
}


